:root {
  --orange: #ff6700;
  --very-light-orange: #ffeadb;
  --grey: #473d37;
  --grey-shade: #79695f;
  --light-grey: #d8d2ce;
  --very-light-grey: #f0edeb;
  --white: #ffffff;
  --dark-green: #004841;
  --light-red: #df5f6a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font: 62.5% / 1.15 sans-serif;
}

body {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  font: 1.6rem/1.25 Arial, sans-serif;
  color: var(--grey);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  font: inherit;
  line-height: normal;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  border-radius: 0.3rem;
  padding: 1rem;
  border: 1px solid var(--light-grey);
}

label,
input[type='radio'],
input[type='checkbox'],
button {
  cursor: pointer;
}

input[type='text']:focus {
  outline: 1px solid var(--grey-shade);
  outline-offset: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px var(--white) inset;
  box-shadow: 0 0 0px 1000px var(--white) inset;
}

input:disabled {
  background: none;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

.form-box {
  position: relative;
}

.formTitle,
.form-group__inner {
  padding: 0 2rem;
}

.form-group {
  border-bottom: 1px solid var(--light-grey);
  margin-bottom: 1rem;
}

.rate-group {
  width: 95%;
}

.rate-inputs {
  white-space: nowrap;
}

.rate-number-box {
  position: relative;
  display: inline-block;
}

.percent-sign {
  position: absolute;
  top: 1.2rem;
  right: 1rem;
}

.rate-input__name {
  margin-right: 1rem;
  width: 50%;
}

.rate-input__number {
  max-width: 7rem;
}

.radio-group {
  margin: 2rem 0;
}
.radio-group__inner > label {
  margin: 1rem 0;
  display: block;
}

.radio-button {
  margin-right: 0.6rem;
}

.search-box {
  position: relative;
  margin-top: 2rem;
}

.search-box::before {
  content: '';
  width: 22px;
  height: 22px;
  background: url('../images/searchIcon.svg') no-repeat;
  position: absolute;
  top: 1rem;
  left: 0.5rem;
}

.search-box > input {
  padding-left: 3rem;
}

.applicable-items-group {
  margin-bottom: 8rem;
}

.category-title {
  background: var(--very-light-grey);
  display: block;
  border-radius: 0.2rem;
  text-transform: capitalize;
}

.hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.category-list {
  padding: 1rem;
}

.category-header input[type='checkbox'] {
  margin: 1rem;
}

.button-group {
  text-align: right;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 0.4rem;
}

.btn--submit {
  background: var(--orange);
  color: var(--very-light-orange);
}

.btn--reset {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
}

.error {
  display: block;
  color: var(--light-red);
  margin-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.8rem;
    line-height: 1.31579;
  }

  .rate-group {
    width: 90%;
  }

  .rate-input__name {
    width: 75%;
  }

  .rate-input__number {
    max-width: 10rem;
  }

  .percent-sign {
    top: 1rem;
  }
}
